.tableGrid{
    width: 65%;
    border: 1px solid white;
    margin: 5% 5%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.tableGrid {
    padding: 20px 30px;
}
.columnGrid{
    display: flex;
    justify-content: space-evenly;
    gap: 0;
   
}

/* .clmName{
    border-right: 1px solid grey;
} */
.tableData{
    text-align: left;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* gap: 0; */
   
}
.rowGridnew {
    display: flex;
}
.rowGridnew div{
    width: 20%;
    margin:0 0 2% 0;
}